<div class="container">
  <nav class="navbar bg-light row">
    <div class="container-fluid">
      <form
        #searchForm="ngForm"
        class="d-flex w-100"
        role="search"
        (submit)="handleSubmit()"
      >
        <input
          class="form-control me-2"
          type="search"
          placeholder="Search"
          aria-label="Search"
          name="keywords"
          id="keywords"
          #Keyword
          [(ngModel)]="keywords"
          required
        />
        <button
          [disabled]="searchForm.invalid"
          class="btn btn-outline-success"
          type="submit"
        >
          Search
        </button>
      </form>
    </div>
    <!-- categories -->
    <div class="row" id="shopNow">
      <ul class="nav nav-pills mt-3">
        <li class="nav-item">
          <p class="nav-link" href="#">Categories :</p>
        </li>
        <li class="nav-item">
          <div
            [class]="currentCategory === 'All' ? activeClass : normalClass"
            data-bs-toggle="pill"
            (click)="changeCategory('All')"
          >
            All
          </div>
        </li>
        <li class="nav-item" *ngFor="let category of categories">
          <div
            [class]="
              currentCategory === category.name ? activeClass : normalClass
            "
            data-bs-toggle="pill"
            (click)="changeCategory(category.name)"
          >
            {{ category.name }}
          </div>
        </li>
      </ul>
    </div>
  </nav>
</div>
