<div class="container-fluid retype_page_body">
  <div class="row h-100 d-flex justify-content-center align-items-center">
    <div class="col-sm-4">
      <div *ngIf="LoginFail">
        <div
          class="alert alert-warning alert-dismissible fade show"
          role="alert"
        >
          <strong>Login failed! {{ reason }}</strong>
          <button
            type="button"
            class="close"
            data-dismiss="alert"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      </div>
      <h1 class="text-center">Change Your Password</h1>
      <div class="text-center text-xl font-medium text-gray-700">
        Type Your<span style="color: red"> OTP code </span> we sent to your
        email
      </div>
      <form #GlobalRetype="ngForm" (ngSubmit)="handleSubmit()">
        <div class="form-group">
          <div class="input-group">
            <input
              type="text"
              class="form-control form-control-lg border-right-0"
              id="Code"
              name="Code"
              placeholder="Code"
              #Code="ngModel"
              [(ngModel)]="code"
              [class.is-invalid]="
                Code.touched && Code.invalid && !GlobalRetype.submitted
              "
              required
              autofocus
            />
          </div>
          <small
            class="text-danger"
            [class.d-none]="
              Code.untouched || Code.valid || GlobalRetype.submitted
            "
          >
            OTP code is required
          </small>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control form-control-lg border-right-0"
              id="Password"
              name="Password"
              placeholder="Password"
              #Password="ngModel"
              [(ngModel)]="password"
              [class.is-invalid]="
                Password.touched && Password.invalid && !GlobalRetype.submitted
              "
              required
            />
          </div>
          <small
            class="text-danger"
            [class.d-none]="
              Password.untouched || Password.valid || GlobalRetype.submitted
            "
          >
            Password is required
          </small>
        </div>

        <div class="form-group">
          <div class="input-group">
            <input
              [type]="showPassword ? 'text' : 'password'"
              class="form-control form-control-lg border-right-0"
              id="ConfirmPassword"
              name="ConfirmPassword"
              placeholder="Confirm Password"
              #ConfirmPassword="ngModel"
              [(ngModel)]="confirmPassword"
              [class.is-invalid]="
                Password.touched && Password.invalid && !GlobalRetype.submitted
              "
              required
            />
          </div>
          <small
            class="text-danger"
            [class.d-none]="
              (ConfirmPassword.untouched ||
                ConfirmPassword.valid ||
                GlobalRetype.submitted) &&
              checkMatch()
            "
          >
            Password not match
          </small>
        </div>

        <div class="input-group mb-3 d-flex justify-content-between">
          <div class="input-group-prepend">
            <div class="input-group-text">
              <input
                type="checkbox"
                aria-label="Checkbox for following text input"
                (change)="showPass()"
              />
            </div>
            Show Password
          </div>
        </div>

        <div class="form-group d-flex justify-content-around">
          <div class="flex-fill ml-1">
            <button
              type="submit"
              class="btn btn-lg btn-info btn-block"
              [disabled]="GlobalRetype.invalid"
            >
              <i class="fa fa-sign-in" aria-hidden="true"></i>
              Confirm New Password
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
