<div class="card mt-5 mb-5">
  <div *ngIf="ChangePasswordFail">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
      <strong>Failed! {{ reason }}</strong>
      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>
  <div
    class="card-header d-flex justify-content-between text-success font-weight-bold"
  >
    Change Your Password
    <div
      *ngIf="!isEditing; else SaveInfo"
      title="Edit Your Information"
      class="btn btn-outline-success"
      (click)="activeEdit()"
      role="button"
    >
      <i class="fa fa-pencil" aria-hidden="true"></i>
      Change Password
    </div>
    <ng-template #SaveInfo>
      <button
        title="Edit Your Information"
        class="btn btn-outline-success"
        (click)="activeEdit()"
        role="button"
      >
        <i class="fa-solid fa-check"></i>
        Cancel
      </button>
    </ng-template>
  </div>
  <div class="card-body">
    <form #ChangePassForm="ngForm" (ngSubmit)="handleSubmit()">
      <div class="form-group">
        <div class="input-group">
          <input
            [disabled]="!isEditing"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control form-control-lg"
            id="OldPassword"
            name="OldPassword"
            autofocus
            placeholder="Old Password"
            #OldPassword="ngModel"
            required
            [(ngModel)]="oldPassword"
            [class.is-invalid]="
              OldPassword.touched &&
              OldPassword.invalid &&
              !ChangePassForm.submitted
            "
          />
        </div>
        <small
          class="text-danger"
          [class.d-none]="
            OldPassword.untouched ||
            OldPassword.valid ||
            ChangePassForm.submitted
          "
        >
          Old Password is required
        </small>
      </div>

      <div class="form-group">
        <div class="input-group">
          <input
            [disabled]="!isEditing"
            [type]="showPassword ? 'text' : 'password'"
            class="form-control form-control-lg"
            id="NewPassword"
            name="NewPassword"
            autofocus
            placeholder="New Password"
            #NewPassword="ngModel"
            required
            [(ngModel)]="newPassword"
            [class.is-invalid]="
              NewPassword.touched &&
              NewPassword.invalid &&
              !ChangePassForm.submitted
            "
          />
        </div>
        <small
          class="text-danger"
          [class.d-none]="
            NewPassword.untouched ||
            NewPassword.valid ||
            ChangePassForm.submitted
          "
        >
          New Password is required
        </small>
      </div>

      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <div class="input-group-text">
            <input
              type="checkbox"
              aria-label="Checkbox for following text input"
              (change)="showPass()"
            />
          </div>
          Show Password
        </div>
      </div>
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="ChangePassForm.invalid"
      >
        OK
      </button>
    </form>
  </div>
</div>
