<div class="card h-100">
  <div class="card-body d-flex flex-column justify-content-between">
    <div class="btn btn-success">
      Available <span class="badge badge-light">{{ product.quantity }}</span>
    </div>
    <figure style="width: 100%; height: 75%">
      <img
        class="card-img"
        [src]="product.img"
        alt="Card image"
        style="width: 100%; height: 100%; object-fit: cover"
      />
    </figure>
    <div>
      <h4 class="card-title">{{ product.name }}</h4>
      <div class="d-flex justify-content-between">
        <p class="card-text">
          {{ product.price | currency : "VND" }}
        </p>
        <button class="btn btn-primary" (click)="OpenCartMenu(product.id)">
          Add to Cart
        </button>
      </div>
    </div>
  </div>
</div>
